{% extends 'base.html'%}

{% block content %}

<div class="col-md-12">
    <div class="container">
        {% for list in juicy_list %}
        <div class="list-group-item">
            <input type="checkbox" name={{list.title}} value={{list.title}}>
            <a href="{% url 'juicy_board:juicy_board_detail' pk=list.no %}">
        
            {{list.title}}
            </a>
            </div>
        {% endfor %}
    </div>
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'juicy_board:juicy_board_insert' %}'">
        일정 추가
    </button>
</div>
{% endblock %}